In [39]:
import pandas as pd
import numpy as np

In [40]:
# Reading and displaying a .csv file 
iris_df = pd.read_csv("iris_dirty.csv")
iris_df.head(5)

   Unnamed: 0  Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species
0           1           5.1          3.5           1.4          0.2  Setosa
1           2           4.9          3.0           1.4          0.2  setosa
2           3           4.7          3.2           1.3          0.2  setosa
3           4           4.6          3.1           1.5          0.2  setosa
4           5           NaN          3.6           1.4          0.2  setosa

In [44]:
# Displaying all the columns of dataset
iris_df.columns

Index(['Unnamed: 0', 'Sepal.Length', 'Sepal.Width', 'Petal.Length',
       'Petal.Width', 'Species'],
      dtype='object')

In [48]:
# Displaying information about the headers and the data-types
iris_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0    150 non-null    int64
 1   Sepal.Length  150 non-null    float64
 2   Sepal.Width   150 non-null    float64
 3   Petal.Length  150 non-null    float64
 4   Petal.Width   150 non-null    float64
 5   Species       150 non-null    object
dtypes: float64(4), int64(1), object(1)
memory usage: 7.2+ KB

In [41]:
iris_df.shape

(150, 6)

In [42]:
# Converting all Speicies values to lower case
iris_df['Species'] = iris_df['Species'].str.lower()

In [43]:
# Displaying count of unique values in Species
iris_df['Species'].value_counts()

Species
setosa        50
versicolor    50
virginica     50
Name: count, dtype: int64

In [45]:
# Getting sum of all the null values column-wise
iris_df.isna().sum()

Unnamed: 0       0
Sepal.Length     8
Sepal.Width     11
Petal.Length     0
Petal.Width      0
Species          0
dtype: int64

So, there are NULL values present in the Length and Width columns.
We can either remove it or fill it with some relevant values like some constant or mean.
As the dataset is small and dropping the rows with null values will affect our result.
So, we are filling the NULL values with the mean.

In [46]:
# Filling values with the mean of corresponding column
iris_df['Sepal.Length'] = iris_df['Sepal.Length'].fillna(value=iris_df['Sepal.Length'].mean())
iris_df['Sepal.Width'] = iris_df['Sepal.Width'].fillna(value = iris_df['Sepal.Width'].mean())

In [47]:
# Column-wise sum of NULL values after replacing NULL values with mean
iris_df.isna().sum()

Unnamed: 0      0
Sepal.Length    0
Sepal.Width     0
Petal.Length    0
Petal.Width     0
Species         0
dtype: int64